{% extends 'students/base.html' %}

{% block content %}
  <section>
    <div class="about">
        <h1>About Us</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde ex at temporibus itaque architecto? Voluptatum excepturi dolore quia. Sapiente, quisquam qui nemo recusandae beatae deleniti illo similique quidem dolor corporis odio minus nihil expedita nobis odit sed culpa eligendi porro! Repellat error, doloremque dolore ipsum amet molestiae obcaecati consectetur! Maiores minus praesentium aperiam? Ad nisi quis eum commodi non quaerat.</p>
    </div>
  </section>
{% endblock  %}